@model VidlyProject.ViewModel.RandomMovieViewModel

@{
    ViewBag.Title = "Index";
}


@{ var className = Model.Customers.Count > 0 ? "popular" : null;}

<h2 class="className">@Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{
    <text>No one has render the movie</text>
}
else
{
    <ul>

        @foreach (var customers in Model.Customers)
        {
            <li>@customers.Name</li>
        }
    </ul>
}



