@model IEnumerable<VidlyProject.Models.Customer>

<h2>Customers</h2>
<table class="table	table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var customer in Model) {
    <tr>
        <td>
            @Html.ActionLink(customer.Name, "Details", new { id = customer.Id })
           
        </td>       
    </tr>
}

</table>
